window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border: 2px solid @theme_fg_color;
}

label {
    font-weight: bold;
}

slider {
 /* padding: 4px;*/
  border-radius: 6px;
}

levelbar {
  padding: 4px;
  border-radius: 6px;
}

.workspaces button {
      all: unset;
      font-size: 0pt;
      min-width: 5pt;
      min-height: 5pt;
      border-radius: 4px;
      box-shadow: inset 0px 0px 0px 1px @theme_selected_bg_color;
      margin: 0px 4px;
      transition: 100ms;
      background-color: @theme_selected_bg_color;

  }

.workspaces button.occupied {
          min-width: 7pt;
          min-height: 7pt;
          background-color: @theme_fg_color;
}

.workspaces button.active {
          min-width: 10pt;
          min-height: 10pt;
          background-color: @theme_fg_color;
}

.workspaces {
  margin: 0px 10px;
}

.powermenu-horizontal {
  border: 2px solid @theme_fg_color;
  padding: 16px;
  border-radius: 8px;
  color: @theme_fg_color;
  background-color: @theme_bg_color;
}

.system-button {
  font-size: 64pt;
  padding: 12px;
  border-radius: 8px;
}

.sys-but-label {
  font-size: 16pt;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

.battery {
  padding: 4px;
  border-radius: 6px;
}

.battery-label {
  padding: 0px;
}

.batter-bar {
  padding: 4px;
  border-radius: 10px;
}

levelbar block,
highlight {
    min-height: 10px;
}
