$foreground: #ffffff;
$grey: #aaaaaa;
$foreground-alt: #465059;
$background: #0e1419;

$black: #000000;
$red: #ff6565;
$green: #b8cc52;
$yellow: #e6c446;
$blue: #68d4ff;
$magenta: #ffa3aa;
$cyan: #36a3d9;
$white: #ffffff;

* {
  all: unset;
}

window {
  background: $background;
}

.hbar {
  font-family: "Ubuntu Nerd Font";
  font-size: 14px;
  margin: 2px 10px;
}

.vbar {
  font-family: "Ubuntu Nerd Font";
  font-size: 14px;
  margin: 2px 8px;
}

.icon-module {
  margin: 0px 5px;
  & > &__icon {
    margin-right: 5px;
  }
}

.w-launcher {
	margin: 2px 0px;
	font-size: 24px;
	color: $blue;
}

.w-workspaces-outer {
	background: transparentize($grey, .9);
	border-radius: 6px;
	margin: 4px 0px;
}

.w-workspaces-inner {
	margin: 4px 0px;
}

.w-powermenu {
	color: $red;
	margin: 2px 0px;
	font-size: 24px;
}

.w-time {
	background: transparentize($grey, .9);
	border-radius: 6px;
	margin: 4px 0px;
}
