$foreground: #ffffff;
$grey: #aaaaaa;
$foreground-alt: #465059;
$background: #0e1419;
$black: #000000;
$red: #ff6565;
$green: #b8cc52;
$yellow: #e6c446;
$blue: #68d4ff;
$magenta: #ffa3aa;
$cyan: #36a3d9;
$white: #ffffff;

* {
  all: unset;
}

window {
  background: $background;
}

.bar {
  font-family: "Ubuntu Nerd Font";
  font-size: 13px;
  margin: 0 10px;
}

.icon-module {
  margin: 0 5px;
  & > &__icon {
    margin-right: 5px;
  }
}
